<div class="row">
  <div class="projects col-md-12">
    <%= react_component('ProjectShow', {project: @project, task: @project.tasks, assignees: User.order(email: :asc), statuses: Task.statuses.keys }, {prerender: false}) %>
  </div>
</div>