@import "bootstrap";

body{
  background-color: #EEE;
}

.shadow{
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.projects ul li.list {
  list-style: none;
  border: 1px solid #DADADA;
  padding: 8px;
  margin: 10px 0 10px 0;
  background-color: #ffffff;
}

.list_count, .task_count, .assignee_count {
  font-weight: bold;
  font-size: 15px;
}
.project_desc{
  text-align: justify;
}
.projects ul{
  margin: 0;
  padding: 0;
}
.projects h3{
  margin-top: 0;
}
.full{
  width: 100%;
}
.users_task{
  padding: 8px;
}
.users_task .user_task{
  border: 1px solid #DADADA;
  padding: 8px;
  margin: 8px 0 8px 8px;
  width: 230px;
  font-weight: bold;
}
a.delete_assignee, .dropdown-menu li.status a{
  cursor: pointer;
}
.dropdown-menu li.assignee, .dropdown-menu li.status{
  border-bottom: 1px solid #DADADA;
  padding: 4px;
}